#save-button {
  display: block;
}

a.a-button {
  background-color: $button-color;
  padding: 5px;
  width: 60px;
  user-select: none;
  margin: 0 5px;
  border-radius: 10%;
  color: white;
  text-align: center;
  font: {
    weight: bold;
    family: sans-serif;
  }
}

a.a-button:hover {
  background-color: $highlight;
  cursor: pointer;
}
