#diag-editing {
  display: inline-block;
}

#center-col {
  margin: 20px auto 0;
  width: 1000px;
  display: block;
}

span {
  display: inline-block;
  vertical-align: top;
}

body {
  background: white;
}