#toolbar {
  display: block;
  background-color: black;
  font-family: sans-serif;
  color: white;
  cursor: pointer;
}

#toolbar > a, #toolbar .dropbtn {
  display: inline-flex;
  border-left: 1px solid white;
  padding: 10px;
  
  &:hover {
    background-color: #ccc
  }
}

#toolbar > .dropdown, #toolbar > .dropdown * {
}

#toolbar .dropdown-content {
  text-align: center;
  min-width: 134px;
  background-color: black;
}

#toolbar .dropdown-content a {
  display: block;
  padding: 10px 0;
  
  &:hover {
    background-color: #ccc;
  }
}