#toolbar {
  display: block;
  background-color: black;
  font-family: sans-serif;
  color: white;
  #home-link { 
    background: {
      image: url("../assets/llym_logo.gif");
      repeat: no-repeat;
      size: 30px 30px;
    }
    padding: 0;
    margin: 0;
    min-width: 30px;
    min-height: 30px;
  }
  
  #tools {
    display: inline-block;
    margin-left: 300px;
    
    &>a {
      margin-left: 40px;
    }
  }
  
  
  a, .dropbtn {
    vertical-align: middle;
    cursor: pointer;
    display: inline-flex;
    padding: 8px 10px 0;
  
    &:hover {
      background-color: #ccc
    }
  }
  
  .dropdown-content {
    text-align: center;
    min-width: 134px;
    background-color: black;
    
    a {
      display: block;
      padding: 10px 0;
      
      &:hover {
        background-color: #ccc;
      }
    }
  }
}