canvas {
  display: inline-block;
}


span {
  display: inline-block;
  vertical-align: top;
}

#el-editor {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  width: 250px;
}

#el-editor > * {
  display: block;
}